<div class="card mb-5">
  <div class="card-body">
    <h4>Counter A</h4>
    <p class="mb-1">Counter : {{ counter }}</p>
    <span>{{ description }}</span>
    <div>
      <button type="button" class="btn btn-primary me-3 btn-sm" (click)="increment()">Inc +</button>
      <button type="button" class="btn btn-secondary me-3 btn-sm" (click)="decrement()">
        Dec -
      </button>
      <button type="button" class="btn btn-primary me-3 btn-sm" (click)="multiply()">Mul *</button>
    </div>
  </div>
</div>
